body{
    background-image: url(image.png);
    background-size: cover;
}
h1{
    width:900x;
    height:150px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 120px;
    font-weight: 900;
    color: transparent;
    background-image: linear-gradient(gold, rgb(172, 44, 44) );
    -webkit-background-clip:  text; 
    margin: 5%;  
}
p{
    font-family:"Cormorant", serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    color:transparent;
    background-image: linear-gradient(gold,rgb(198, 44, 44));
    -webkit-background-clip: text; 
    margin:0;
    padding:0;    
}
#a{
    font-family:  "Sofia", cursive;
    font-size: 25px;
    color: rgb(191, 142, 19);
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
